
  <app-header></app-header>
  <div class="main">
    <div style="display: flex;">
        <mat-card class="card">
            Progress Chart
            <div class="chart-container pie">
              <canvas  id="MyChart2" >{{ chart }}</canvas>
                <div class="char">
                  <div class="gauge" style="margin-bottom: 10px;" id="g1"><svg viewBox="0 0 60 25">
                    <text x="50%" y="50%">20%</text></svg>
                  </div>
                  Interactiveness
                  <div class="gauge" id="g2"><svg viewBox="0 0 60 25">
                    <text x="50%" y="50%">70%</text></svg></div>
                    Cheerfullness
                  </div>

        </div> 
          </mat-card>
          <mat-card class="card">
            Prescription Refill Remider
            <div class="chart-container">
              <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>
        </mat-card>

        <div style="right:0">
<mat-card class="side-nav">
  <a href="">Helpline Number</a>
  <mat-icon>call</mat-icon>
</mat-card>
<mat-card class="side-nav">
  <a href="">GP Number 887679567</a>
  <mat-icon> call</mat-icon>
</mat-card>
<mat-card class="side-nav">
  <a href="">Ambulance number</a>
  <mat-icon> call</mat-icon>
</mat-card>
<mat-card class="side-nav">
  <a href="">Loved once Location</a>
  <mat-icon>place</mat-icon>
</mat-card>
        </div>
    </div>
    <div style="display: flex;">
        <mat-card class="card">

          <iframe width="680" height="383" src="https://www.youtube.com/embed/LL_Gq7Shc-Y" title="Experience 12 Minutes In Alzheimer&#39;s Dementia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <!-- <div class="chart-container">
              <canvas  id="MyChart1" >{{ chart }}</canvas>
        </div> -->

        </mat-card>
        <mat-card class="card">
            <iframe width="914" height="514" src="https://www.youtube.com/embed/kskiEKghjAE" title="Caregiver Training: Sundowning | UCLA Alzheimer&#39;s and Dementia Care Program" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </mat-card>
    </div>
  </div>