<div class="container1" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Please Sign In</h2>
        <div class="button-container">
            <!-- <button class="login-button" > -->
                <img src="images/caretaker.jfif" alt="Caretaker">
                <span routerLink="/careTaker">Login as Caretaker</span>
            <!-- </button> -->
            <!-- <button class="login-button" routerLink="/lovedOne"> -->
                <img src="images/p1.jfif" alt="Patient">
                <span routerLink="/lovedOne">Login as Loved One</span>
            <!-- </button> -->
        </div>
        <h2>&nbsp;</h2>
    </div>
</div>
