.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    padding: 20px;
}

mat-card{
    margin: 30px;
    height: 35vh;
    width: 15vw;
    border-radius: 20%;

}

.avatar{
    background-color: aqua;
}

.memo{
    height: 60vh;
    width: 35vw;
    background-color: bisque;
}

.speech-input-container {
    display: flex;
    align-items: center;
  }
  
  .mic-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
  }
  